<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">
        <a href="#/" class="icon-wrap">
          <i class="fa fa-home"></i>
        </a>
        &#47;
        {{ thing.name }}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <img ng-src="{{ thing.imgurl }}" class="avatar img-responsive">
        </div>
      </div>
    </div>
  </div>
</div>
